@font-face {
  font-family: "Roboto";
  src: 
    local("../fonts/Roboto/Roboto-Regular.ttf") format('truetype'),
    url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 600px;
  color: #000;
  line-height: 1.5;
  overflow: hidden; /* Hide vertical scrollbar */
}

::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar-button {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

div.section-divider {
  border-top: 1px solid #000;
  margin: 10px 0;
}

/* 
|  CURRENT TAB
|
*/

div#tab {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  padding-top: 10px;
}

div#tab-title {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

div#tab-title span {
  display: inline-block;
  width: 10%;
}

input#tab-title {
  width: 80%;
  height: 20px;
  font-size: 15px;
  padding: 10px 5px;
}

input#tab-folder {
  width: 80%;
  height: 20px;
  font-size: 15px;
  padding: 10px 5px;
}

div#tab-folder {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* 
|  HEADER
|
*/

div#header {
  position: sticky;
  top: 0;
  background: #f6f6f7;
}

/* 
|  RECENT FOLDERS
|
*/

div#recent-folders {
  padding: 0 10px;
  background-color: #fff;
}


/* 
|  FILTER SECTION
|
*/

div#filter {
  padding: 0 10px;
}

input#filter {
  width: 100%;
  height: 35px;
  line-height: 1;
  font-size: 15px;
  padding: 10px 5px;
}

div#bookmarks-tree {
  padding: 0 10px;
}

div#tab-folder span {
  display: inline-block;
  width: 10%;
}

div#bookmarks-folder {
  padding: 10px;
}

div.bookmark-folder {
  cursor: pointer;
}

div.bookmark-folder:hover {
  background: #aeb2fc;
}

div.bookmark-folder-selected {
  background: #aeb2fc ;
}

div.bookmark-folder i {
  margin-right: 5px;
}


/* 
|  FOOTER
|
*/

div#footer {
  position: sticky;
  bottom: 0;
  background: #f6f6f7;
}

div#footer-btns {
  padding: 0 10px;
  padding-bottom: 10px;
}

div#footer-btns button {
  cursor: pointer;
  background: #7980ff;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #7980ff;
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

div#footer-btns button:hover {
  background: #bfc2f7;
}